.about-container {
  width: 70vw;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.about-section {
  margin-bottom: 30px;
}

.about-section h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  font-weight: 400;
  letter-spacing: 0.01em;
}

iframe {
  display: block;
  margin: 20px auto;
  border: none;
}

.about-image {
  display: block;
  margin: 20px auto;
  height: 40vh;
  border: 1px solid;
  border-radius: 8px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.caption {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.video {
  width: 100%;
  height: 100%;
}
