.experience-container {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  background: transparent;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.timeline {
  position: relative;
  padding: 10px 0;
  list-style: none;
  background: transparent;
  color: white;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ddd;
}

.timeline-item {
  position: relative;
  display: flex;
  margin: 3% 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}

.timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.timeline-content,
.timeline-image {
  width: 45%;
}

.timeline-content {
  border-radius: 5px;
  padding: 2%;
  z-index: 1;
  height: 100%;
}

.timeline-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  height: 100%;
}

.timeline-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.timeline-date-start,
.timeline-date-end {
  position: absolute;
  font-size: 1em;
  color: #888;
  width: max-content;
}

.timeline-date-start {
  top: -5%;
}

.timeline-date-end {
  bottom: -5%;
}

.timeline-item:nth-child(odd) .timeline-date-start {
  right: calc(50% + 2%);
}

.timeline-item:nth-child(even) .timeline-date-start {
  left: calc(50% + 2%);
}

.timeline-item:nth-child(odd) .timeline-date-end {
  right: calc(50% + 2%);
}

.timeline-item:nth-child(even) .timeline-date-end {
  left: calc(50% + 2%);
}

.timeline-content li > a {
  color: lightgray;
}

.timeline-content li > a:visited {
  color: gray;
}

.timeline-content li > a:hover {
  color: white;
}

.experience-container ul,
.experience-container ol {
  padding-left: 2em;
}

.experience-container ul li {
  margin-bottom: 1.1em;
  text-indent: -0.8em;
  padding-left: 0.8em;
}

.experience-container ul ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.2em;
}

.experience-container ul ul li {
  margin-bottom: 0.9em;
  text-indent: -0.8em;
  padding-left: 0.8em;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .experience-container {
    max-width: 95%;
    padding: 10px;
  }

  .timeline::before {
    left: 20px;
  }

  .timeline-item {
    flex-direction: column;
    margin-left: 40px;
    display: grid;
    grid-template-areas:
      "image"
      "content";
  }

  .timeline-item:nth-child(odd) {
    flex-direction: column;
  }

  .timeline-content,
  .timeline-image {
    width: 100%;
  }

  .timeline-image {
    grid-area: image;
    margin: 0 0 20px 0;
    max-height: 150px;
  }

  .timeline-content {
    grid-area: content;
    padding: 15px;
  }

  .timeline-image img {
    max-height: 150px;
  }

  .timeline-date-start,
  .timeline-date-end {
    left: -60px !important;
    right: auto !important;
  }
}
