/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin-left: 200px; /* Add padding to account for navbar width */
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 70vw;
}

.hero-content {
  flex: 1;
  text-align: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.hero-content p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

@media (max-width: 768px) {
  .home-container {
    margin-left: 0; /* Remove padding on mobile */
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
  }

  .hero-image {
    padding: 0;
    margin: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7.5%;
  }

  .hero-content h1,
  .hero-content p {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.1rem;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #8e8e90;
  transition: transform 0.3s ease-in-out;
}

.full-section {
  width: 70vw;
}
