.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15% 5%;
    background-color: #f5f5f5;
    /* margin: 100px 0 auto; */
  }
  
  .hero-content {
    max-width: 30%;
  }
  
  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Add the new class for smaller images */
  .small-image {
    width: 300px;
    height: auto;
  }
  