.resume-container {
  text-align: center;
  height: 100%;
}

.resume-container h1 {
  margin-bottom: 20px;
  color: white;
}

.resume-container object {
  width: 100%;
  height: 1200px;
}

@media (max-width: 768px) {
  .resume-container {
    padding: 0;
    width: 100%;
    height: 80vh;
  }

  .resume-container object {
    width: 100%;
    height: 80vh;
  }
}
